*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 214, 218);
    padding-top: 200px;
}
.parent{
    background-color: #fb6060;
    height: 60vh;
    width: 46vw;
    position: relative;
    border-radius: 10px;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.childA{
    width: 23vw;
    height: 60vh;
    margin: 0 50% 0 0 ;
    background-color: #fff;
    position: absolute;
}
.childB{
    width: 23vw;
    height: 60vh;
    margin: 0 0 0 50%;
    position: absolute;
    background-image: linear-gradient(to right, red,rgb(206, 27, 99));
    
}
